@model PieListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Pie List</h1>

<h3>@Model.CurrentCategory</h3>

@foreach (var item in Model.Pies)
{
    <div>
        <h2>@item.Name</h2>
        <h3>@item.Price.ToString("c")</h3>
        <h4>@item.Category.CategoryName</h4>
    </div>

}